<h3>Desktop Areas</h3>
<rm-layout [config]="config" class="rm-layout">
  <rm-layout-item area="header" class="tile">Header</rm-layout-item>
  <rm-layout-item area="nav" class="tile">Nav</rm-layout-item>
  <rm-layout-item area="main" class="tile">Main</rm-layout-item>
  <rm-layout-item area="widgets" class="tile">Widgets</rm-layout-item>
  <rm-layout-item area="footer" class="tile">Footer</rm-layout-item>
</rm-layout>

<h3>Mobile Areas</h3>
<rm-layout [config]="mobileConfig" class="rm-layout">
  <rm-layout-item area="header" class="tile">Header</rm-layout-item>
  <rm-layout-item area="nav" class="tile">Nav</rm-layout-item>
  <rm-layout-item area="main" class="tile">Main</rm-layout-item>
  <rm-layout-item area="widgets" class="tile">Widgets</rm-layout-item>
  <rm-layout-item area="footer" class="tile">Footer</rm-layout-item>
</rm-layout>