<h3>Custom Classes + Variables</h3>
<rm-layout [config]="{ columns: 12, gap: '1rem' }" cssClass="frosted-shell">
  <rm-layout-item [colSpan]="8" cssClass="card-primary">Primary</rm-layout-item>
  <rm-layout-item [colSpan]="4" cssClass="card-secondary">Secondary</rm-layout-item>
</rm-layout>

<h3>Utility + Custom Mix</h3>
<rm-layout class="rm-layout rm-layout-gap-lg rm-layout--centered custom-board">
  <rm-layout-item class="rm-item-span-3 tile">One</rm-layout-item>
  <rm-layout-item class="rm-item-span-3 tile">Two</rm-layout-item>
  <rm-layout-item class="rm-item-span-3 tile">Three</rm-layout-item>
  <rm-layout-item class="rm-item-span-3 tile">Four</rm-layout-item>
</rm-layout>